{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <div style="margin: 10px 0px 40px 0">
        <a href="evento/" style="background-color: white;color: black;border: 2px solid green; padding: 7px 20px;text-align: center; text-decoration: none; display: inline-block;" > Novo Evento</a>
    </div>
<div style="margin-top: 35px">
    <ul>
        {% for evento in eventos %}
            <li>
                {{ evento.titulo }} - {{ evento.get_data_evento }}
                (<a href="#">Editar</a> / <a href="evento/delete/{{evento.id}}/">Excluir</a>)
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
background-color: white;color: black;border: 2px solid green; padding: 10px 20px;text-align: center; text-decoration: none; display: inline-block;